:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

html,
body {
  height: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
